component-body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 100px;
  box-sizing: border-box;
  background: rgba(238, 238, 243, 0.473);
  overflow-y: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

c-client {
  width: 300px;
  height: 200px;
  position: relative;
  float: left;
  margin: 10px 25px;
}